.padded-left {
  padding-left: 3.125em; }

.no-padding {
  padding: 0; }

.media {
  display: flex;
  align-items: flex-start; }
  .media__img {
    margin-right: 2.5em; }
    .media__img--small {
      max-width: 6.25em; }
  .media__content {
    flex: 1; }

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  font-family: "Roboto Condensed", Helvetica, Arial, sans-serif;
  font-size: 1em;
  line-height: 1.44;
  color: #3b3b3b; }

img {
  display: block;
  max-width: 100%; }

a,
a:active,
a:visited {
  color: #fd3d3d;
  outline: none;
  transition: all .2s ease; }
  a:hover,
  a:active:hover,
  a:visited:hover {
    opacity: .7; }

h1,
h2,
h3,
h4 {
  margin-top: 0;
  font-weight: 700; }

h1 {
  font-size: 3.125em;
  line-height: 1.08;
  font-family: "Miriam Libre", Georgia, sans-serif;
  font-weight: 400; }

h2 {
  position: relative;
  font-family: "Roboto Condensed", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-size: .75em;
  line-height: 1;
  padding-bottom: 2em; }
  h2:after {
    content: '';
    position: absolute;
    top: 4px;
    margin-left: 10px;
    height: 4px;
    background: #fd3d3d;
    width: 100%; }

h3 {
  font-size: 1.125em;
  line-height: 1.22;
  font-family: "Miriam Libre", Georgia, sans-serif; }

h4 {
  font-family: "Miriam Libre", Georgia, sans-serif;
  text-transform: uppercase;
  line-height: 1.29;
  font-size: .875em; }

p {
  font-size: 1.125em;
  font-family: "Roboto Condensed", Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  padding: 0 0 1.25em;
  margin: 0; }
  p + h2 {
    margin-top: 1.125em; }
  .content p {
    padding-left: 3.125em; }

ul {
  font-size: 1.125rem;
  font-family: "Roboto Condensed", Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  padding: 0 0 1.25em;
  margin: 0; }
  ul + h2 {
    margin-top: 1.125em; }
  .content ul {
    padding-left: 4em; }
    .content ul ul {
      padding-left: 3em; }

.intro {
  font-size: 1.5em;
  line-height: 1.4;
  font-family: "Miriam Libre", Georgia, sans-serif;
  padding-bottom: 2em; }
  .content .intro {
    padding-left: 0; }

blockquote {
  padding: 0 0 1.25em;
  position: relative;
  padding-left: 1.25em;
  font-size: 1.25em;
  font-family: "Miriam Libre", Georgia, sans-serif;
  color: #556367;
  line-height: 1.4; }
  blockquote:before {
    content: '';
    position: absolute;
    top: .125em;
    left: 0;
    background: #fd3d3d;
    height: 2.125em;
    width: .125em; }

.context-heading {
  font-weight: 700;
  font-size: .75em;
  text-transform: uppercase; }
  .context-heading--a {
    color: #efefef; }
  .context-heading--b {
    color: #a9a9a9; }
  .context-heading--c {
    color: #f7ce40; }

.cta {
  position: relative;
  color: #fd3d3d;
  font-family: "Miriam Libre", Georgia, sans-serif;
  font-size: 1.125em; }
  .cta--fancy {
    margin-top: 2.65em; }
    .cta--fancy:before {
      content: '';
      width: 3.125rem;
      height: .25rem;
      background: #a9a9a9;
      position: absolute;
      top: -1.25em; }

.container {
  width: 90%;
  max-width: 68.75em;
  margin: 0 auto; }
  .container--max {
    width: 100%;
    max-width: 87.5em;
    margin: 0 auto; }

section {
  padding: 2.5em 0; }

.grid {
  display: flex;
  margin: 0 -1.25em; }
  .grid--flex-end {
    justify-content: flex-end; }
  .grid__col {
    flex: 1;
    padding: 0 1.25em 2.5em; }
    .grid__col p:last-of-type {
      padding-bottom: 0; }

.content {
  overflow: hidden;
  max-width: 37.5em; }
  .content--wide {
    max-width: 46.875em; }

@media screen and (max-width: 599px) {
  .grid {
    display: block; } }
.site__branding {
  background: #efefef;
  width: 20em;
  height: 5em;
  display: flex;
  justify-content: space-between; }
  .site__branding div {
    display: inline-block; }
  .site__branding--logo {
    width: 5.625em;
    padding: .95em 1.15em .9em 1.25em;
    border-right: solid 1px #e0dfdf; }
    .site__branding--logo img {
      width: 3.125em; }
  .site__branding--name {
    width: 8em;
    padding: 1em 1.4em;
    font-size: 1em;
    line-height: 1.06;
    font-weight: 700;
    font-family: "Miriam Libre", Georgia, sans-serif; }
  .site__branding--social {
    width: 6.250em;
    background: #cceaf4;
    text-align: center;
    padding-top: 1.75em; }
    .site__branding--social a {
      margin: 0 5px;
      display: inline-block; }
      .site__branding--social a img {
        width: 1.125em; }
      .site__branding--social a:hover {
        opacity: .7; }

.header {
  position: relative;
  z-index: 900;
  overflow: auto;
  display: flex; }
  .header__nav {
    margin-left: 1.25em; }
    .header__nav ul {
      margin: 0;
      padding: 0; }
    .header__nav li {
      margin: 2em 1.25em 0;
      display: inline-block;
      list-style-type: none; }
      .header__nav li:first-child a:before {
        content: '';
        position: absolute;
        top: -.625em;
        width: 1.25em;
        height: .25em;
        background: #fd3d3d;
        opacity: 1;
        transition: ease all .2s; }
      .header__nav li:first-child a:after {
        content: url("../img/triangle.svg");
        position: absolute;
        right: -1em;
        top: .025em; }
      .header__nav li:first-child a.has-open-nav:after {
        content: url("../img/triangle.svg");
        position: absolute;
        right: -1.25em;
        top: -.1em;
        transform: rotate(180deg); }
      .header__nav li a {
        position: relative;
        font-family: "Miriam Libre", Georgia, sans-serif;
        font-size: 1.063em;
        color: white;
        text-decoration: none;
        transition: ease all .2s; }
        .header__nav li a:hover {
          transition: ease all .2s;
          opacity: 1;
          color: #cccccc; }
  .header__search {
    margin-left: auto; }

.footer {
  position: relative;
  background: #3b3b3b;
  width: 100%; }
  .footer .container--max {
    position: relative;
    display: flex;
    justify-content: flex-start; }
  .footer__menu {
    font-size: 1.063em;
    padding: 7em 8% 2em 8%;
    border-right: 1px solid #343434; }
    .footer__menu ul {
      margin: 0;
      padding: 0;
      position: relative; }
      .footer__menu ul:before {
        content: '';
        position: absolute;
        top: -1.5em;
        width: 1.25em;
        height: .25em;
        background: #fd3d3d;
        opacity: 1;
        transition: ease all .2s; }
    .footer__menu li {
      margin-bottom: .75em; }
    .footer__menu a {
      text-decoration: none;
      color: #f9f9f2;
      font-family: "Miriam Libre", Georgia, sans-serif; }
  .footer__copyright {
    position: absolute;
    bottom: 1.25em;
    right: 18.75em;
    font-size: .75em;
    color: #a9a9a9;
    line-height: 1; }
  .footer__clock {
    position: absolute;
    top: -1.25em;
    right: 6.5em;
    background: #fd3d3d;
    border-radius: 50%;
    width: 2.5em;
    height: 2.5em;
    text-align: center;
    z-index: 900; }
    .footer__clock img {
      position: relative;
      top: .625em;
      display: inline-block; }
  .footer__title-block {
    position: relative;
    padding: 11em 10% 5.5em 10%;
    width: 11.875em; }
    .footer__title-block span {
      position: relative;
      display: block; }
      .footer__title-block span:nth-child(1) {
        font-size: .75em;
        font-weight: 700;
        text-transform: uppercase;
        color: #a9a9a9;
        line-height: 1.8; }
        .footer__title-block span:nth-child(1):before {
          content: '';
          position: absolute;
          top: -1.85em;
          width: 4.167em;
          height: .3333em;
          background: #fd3d3d;
          transition: ease all .2s; }
      .footer__title-block span:nth-child(2) {
        color: #efefef;
        font-family: "Miriam Libre", Georgia, sans-serif;
        font-size: 1em;
        line-height: 1.25; }
  .footer__update-block {
    margin: 7em 0 7em;
    padding: .5em 0 .5em 3.5%;
    border-left: 4px solid #343434; }
    .footer__update-block .col:nth-child(1) {
      margin: 0 0 1.25em; }
    .footer__update-block .col .date {
      font-size: .75em;
      text-transform: uppercase;
      font-weight: 700;
      color: #a9a9a9;
      padding-bottom: .5em; }
    .footer__update-block .col .title {
      max-width: 10em;
      color: white;
      font-size: .875em;
      font-family: "Miriam Libre", Georgia, sans-serif; }
      .footer__update-block .col .title a {
        color: white;
        text-decoration: none; }
    .footer__update-block .col .category {
      padding-bottom: .45em; }
    .footer__update-block .col .excerpt {
      color: white;
      font-size: 1.125em;
      line-height: 1.25;
      max-width: 15.5em; }
      .footer__update-block .col .excerpt a {
        color: white;
        text-decoration: none; }
        .footer__update-block .col .excerpt a:after {
          content: url(../img/icon-arrow-red.svg);
          margin-left: .5em; }

.mega-menu {
  position: relative;
  z-index: 9999;
  top: 0;
  width: 100%;
  height: auto;
  max-height: 0;
  background: white;
  overflow-y: hidden;
  transition-property: all;
  transition-duration: .65s;
  transition-timing-function: cubic-bezier(0, 1, 0.5, 1); }
  .mega-menu.is-visible-mega-menu {
    max-height: 30em; }
  .mega-menu__highlight-box {
    padding-top: 1.875em;
    padding-left: 4.625em;
    width: 15.625em;
    height: 6.25em;
    background: #3b3b3b; }
    .mega-menu__highlight-box span {
      display: block;
      position: relative; }
      .mega-menu__highlight-box span:nth-child(1) {
        font-size: .75em;
        line-height: 1;
        color: #a9a9a9;
        text-transform: uppercase;
        font-weight: 700;
        padding-bottom: .35em; }
        .mega-menu__highlight-box span:nth-child(1):before {
          content: '';
          position: absolute;
          background: #fd3d3d;
          left: -1em;
          top: -.25em;
          height: 3.25em;
          width: .25em; }
      .mega-menu__highlight-box span:nth-child(2) {
        line-height: 1.25;
        font-size: 1em;
        color: #efefef;
        font-family: "Miriam Libre", Georgia, sans-serif; }
  .mega-menu__close {
    cursor: pointer;
    text-transform: uppercase;
    color: #a9a9a9;
    position: absolute;
    top: 3.125em;
    right: 3.125em;
    font-size: .75em;
    line-height: 1;
    transition: opacity .2s ease; }
    .mega-menu__close svg {
      margin-right: .5em;
      position: relative;
      top: .0825em; }
    .mega-menu__close:hover {
      opacity: .6; }
  .mega-menu__container {
    max-width: 79em;
    width: 92%;
    margin: 0 auto;
    padding-top: 3em;
    padding-bottom: 9em;
    display: flex;
    justify-content: space-between; }
  .mega-menu__col {
    width: 25%; }
    .mega-menu__col:nth-child(1) {
      width: 22%;
      padding-right: 3%; }
    .mega-menu__col ul {
      margin: 0;
      padding: 0; }
    .mega-menu__col li {
      list-style-type: none;
      margin-bottom: .4em; }
      .mega-menu__col li a {
        font-size: 1.1em;
        color: #3b3b3b;
        transition: padding .35s ease;
        text-decoration: none; }
        .mega-menu__col li a:hover {
          padding-left: .6em;
          border-left: solid #f7ce40 0.2em;
          color: #a9a9a9; }
    .mega-menu__col .view-all-link {
      display: inline-block;
      padding-top: 1.5em;
      font-size: 1.125em;
      font-family: "Miriam Libre", Georgia, sans-serif; }
  .mega-menu__desc {
    padding: .75em 0 1.5em;
    font-size: 1.35em;
    font-family: "Miriam Libre", Georgia, sans-serif;
    line-height: 1.33;
    position: relative; }
    .mega-menu__desc:after {
      content: '';
      position: absolute;
      background: #fd3d3d;
      width: 2.083em;
      height: .167em;
      left: 0;
      bottom: 0; }

.feat-post {
  width: 23%;
  min-width: 17em;
  max-width: 20em; }
  .feat-post__content {
    padding: 2.813em 3.125em;
    background: #fd3d3d; }
  .feat-post__date {
    font-size: .75em;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1;
    color: #efefef; }
  .feat-post__excerpt {
    color: white;
    font-size: 1.125em;
    line-height: 1.22;
    padding-top: 1.25em; }
  .feat-post__cta {
    padding-top: 2.5em; }
    .feat-post__cta a {
      color: #f7ce40;
      font-size: 1.125em;
      font-family: "Miriam Libre", Georgia, sans-serif;
      position: relative; }
      .feat-post__cta a:before {
        content: '';
        width: 3.125rem;
        height: .25rem;
        background: #a9a9a9;
        position: absolute;
        top: -1.15em; }

.hero {
  padding: 16em 0;
  margin-top: -5em; }

.hero-base {
  position: relative;
  background: #3b3b3b; }
  .hero-base .container--wide {
    display: flex;
    justify-content: flex-start; }
  .hero-base__clock {
    position: absolute;
    top: -1.25em;
    left: 3.125em;
    background: #fd3d3d;
    border-radius: 50%;
    width: 2.5em;
    height: 2.5em;
    text-align: center; }
    .hero-base__clock img {
      position: relative;
      top: .625em;
      display: inline-block; }
  .hero-base__title-block {
    position: relative;
    padding: 7.25em 3.125em 5.5em;
    border-right: 1px solid #343434;
    width: 11.875em; }
    .hero-base__title-block span {
      position: relative;
      display: block; }
      .hero-base__title-block span:nth-child(1) {
        font-size: .75em;
        font-weight: 700;
        text-transform: uppercase;
        color: #a9a9a9;
        line-height: 1.8; }
        .hero-base__title-block span:nth-child(1):before {
          content: '';
          position: absolute;
          top: -1.85em;
          width: 4.167em;
          height: .3333em;
          background: #fd3d3d;
          transition: ease all .2s; }
      .hero-base__title-block span:nth-child(2) {
        color: #efefef;
        font-family: "Miriam Libre", Georgia, sans-serif;
        font-size: 1em;
        line-height: 1.25; }
  .hero-base__update-block {
    display: flex;
    justify-content: space-around; }
    .hero-base__update-block .col {
      border-right: 4px solid #343434; }
      .hero-base__update-block .col:nth-child(1) {
        margin: 5.5em 0 6.5em 0;
        padding: 1em 2em 1em 8em; }
      .hero-base__update-block .col:nth-child(2) {
        margin: 5.5em 0 6.5em 1.75em;
        padding: 1em 2em 1em 0;
        border-right: none; }
      .hero-base__update-block .col .date {
        font-size: .75em;
        text-transform: uppercase;
        font-weight: 700;
        color: #a9a9a9;
        padding-bottom: .5em; }
      .hero-base__update-block .col .title {
        max-width: 10em;
        color: white;
        font-family: "Miriam Libre", Georgia, sans-serif; }
        .hero-base__update-block .col .title a {
          color: white;
          text-decoration: none; }
      .hero-base__update-block .col .category {
        padding-bottom: .4em; }
      .hero-base__update-block .col .excerpt {
        color: white;
        font-size: 1.125em;
        line-height: 1.25;
        max-width: 15.5em; }
        .hero-base__update-block .col .excerpt a {
          color: white;
          text-decoration: none; }
          .hero-base__update-block .col .excerpt a:after {
            content: url(../img/icon-arrow-red.svg);
            margin-left: .5em; }

.card {
  position: relative;
  border: 1px solid #efefef;
  transition: all .35s ease; }
  .card:before {
    content: '';
    position: absolute;
    background: #efefef;
    height: .625em;
    width: 4.375em;
    top: 0;
    left: 0; }
  .card:after {
    content: '';
    position: absolute;
    background: #cceaf4;
    height: .313em;
    width: 4.375em;
    bottom: 0;
    left: 0; }
  .card:hover {
    box-shadow: 10px 10px 0 #efefef; }
  .card__logo {
    width: 4.375em;
    height: 4.375em; }
  .card__title {
    position: relative;
    padding: 1.875em 3.125em 0.625em;
    border-bottom: 1px solid #efefef; }
    .card__title h3 {
      margin-bottom: 0; }
  .card__content {
    padding: .95em 3.125em 3.125em; }
  .card__contact {
    font-size: 0.750em;
    text-transform: uppercase;
    font-weight: 700;
    padding-bottom: 1.250em; }
    .card__contact a {
      color: #3b3b3b; }
    .card__contact a[href^="tel:"] {
      text-decoration: none; }
  .card__description {
    font-size: 1.125em;
    line-height: 1.22;
    padding-bottom: 2.3em; }
  .card__link {
    position: relative; }
    .card__link a {
      font-size: 1.125em;
      font-family: "Miriam Libre", Georgia, sans-serif; }
    .card__link:before {
      content: '';
      width: 3.125em;
      height: .25em;
      background: #a9a9a9;
      position: absolute;
      top: -1.1em; }

@media screen and (max-width: 1023px) {
  .cards .grid .grid__col {
    flex: 0 0 50%; } }
@media screen and (max-width: 599px) {
  .cards .grid .grid__col {
    flex: 0 0 100%; } }

/*# sourceMappingURL=style.css.map */
