body {
  font-family: $default-font-stack;
  font-size: 1em;
  line-height: 1.4;
  color: $default-text-color;
}

img {
  display: block;
  max-width: 100%
}

a,
a:active,
a:visited {
  outline: none;
}