.site {
  &__branding {
    background: $default-background-color;
    width: 20em;
    height: 5em;
    display: flex;
    justify-content: space-between;

    div {
      display: inline-block;
    }

    &--logo {
      width: 5.625em;
      padding: .95em 1.15em .9em 1.25em;
      border-right: solid 1px $alt-background-color;

      img {
        width: 3.125em;
      }
    }

    &--name {
      width: 8em;
      padding: 1em 1.4em;
      font-size: 1em;
      line-height: 1.06;
      font-weight: 700;
      font-family: $alt-font-stack;
    }

    &--social {
      width: 6.250em;
      background: $tertiary-color;
      text-align: center;
      padding-top: 1.75em;

      a {
        margin: 0 5px;
        display: inline-block;
        
        img {
          width: 1.125em;
        }

        &:hover {
          opacity: .7;
        }
      }
    }
  }
}