.card {
  position: relative;
  border: 1px solid $default-background-color;
  transition: all .35s ease;

  &:before {
    content: '';
    position: absolute;
    background: $default-background-color;
    height: .625em;
    width: 4.375em;
    top: 0;
    left: 0;
  }

  &--bio {
    &:before {
      content: '';
      position: absolute;
      background: $primary-color;
      height: 1.25em;
      width: 6.25em;
      top: 0;
      left: 0;
    }
  }

  &:after {
    content: '';
    position: absolute;
    background: $tertiary-color;
    height: .313em;
    width: 4.375em;
    bottom: 0;
    left: 0;
  }

  &--bio {
    &:after {
      content: '';
      position: absolute;
      background: $tertiary-color;
      height: .313em;
      width: 6.25em;
      bottom: 0;
      left: 0;
    }
  }

  &:hover {
    box-shadow: 10px 10px 0 rgba($default-background-color, 1);
  }

  &__logo {
    width: 4.375em;
    height: 4.375em;
  }

  &__title {
    position: relative;
    padding: 1.875em 3.125em 0.625em;
    border-bottom: 1px solid $default-background-color;

    h3 {
      margin-bottom: 0;
    }
  }

  &--bio {
    .card__title {
      padding: 2.75em 1.875em 1.25em;

      span {
        font-weight: 700;
        text-transform: uppercase;
        font-size: .75rem;
        color: $alt-text-color;
        line-height: 1.35;
        display: block;
        padding-top: 1em;
      }
    }
  }

  &__content {
    padding: .95em 3.125em 3.125em;
  }

  &--bio {
    .card__content {
      padding: .95em 1.875em 2.5em;
    }
  }

  &__contact {
    font-size: 0.750em;
    text-transform: uppercase;
    font-weight: 700;
    padding-bottom: 1.250em;

    a {
      color: $default-text-color;
    }

    a[href^="tel:"] {
      text-decoration: none;
    }
  }

  &--bio {
    .card__contact {
      a {
        &:nth-child(1) {
          padding-right: 1.5em;
        }
      }
    }
  }

  &__description {
    font-size: 1.125em;
    line-height: 1.22;
    padding-bottom: 2.3em;
  }

  &--bio {
    .card__description {
      font-size: 1.125em;
      line-height: 1.22;
      padding-bottom: 1.25em;
    }
  }

  &__link {
    position: relative;

    a {
      font-size: 1.125em;
      font-family: $alt-font-stack;
    }

    &:before {
      content: '';
      width: 3.125em;
      height: .25em;
      background: $alt-text-color;
      position: absolute;
      top: -1.1em;
    }
  }
}

@include mq(desktop, 'max-width') {
  .cards {
    .grid .grid__col {
      flex: 0 0 50%;
    }
  }
}

@include mq(tablet, 'max-width') {
  .cards {
    .grid .grid__col {
      flex: 0 0 100%;
    }
  }
}
