.ankle {
  @include mq(ipad, 'max-width') {
    background: $default-text-color;
  }
}


.footer {
  position: relative;
  background: $default-text-color;
  width: 100%;

  .container--max {
    position: relative;
    display: flex;
    justify-content: flex-start;
  }

  &__menu {
    font-size: 1.063em;
    padding: 7em 8% 2em 8%;
    border-right: 1px solid $alt-border-color;

    ul {
      margin: 0;
      padding: 0;
      position: relative;

      &:before {
        content: '';
        position: absolute;
        top: -1.5em;
        width: 1.25em;
        height: .25em;
        background: $primary-color;
        opacity: 1;
        transition: ease all .2s;
      }
    }

    li {
      margin-bottom: .75em;
    }

    a {
      text-decoration: none;
      color: $alt-link-color;
      font-family: $alt-font-stack;
    }
  }

  &__copyright {
    position: absolute;
    bottom: 1.25em;
    right: 18.75em;
    font-size: .75em;
    color: $alt-text-color;
    line-height: 1;
  }

  &__clock {
    position: absolute;
    top: -1.25em;
    right: 6.5em;
    background: $primary-color;
    border-radius: 50%;
    width: 2.5em;
    height: 2.5em;
    text-align: center;
    z-index: 900;

    img {
      position: relative;
      top: .625em;
      display: inline-block;
    }
  }

  &__title-block {
    position: relative;
    padding: 11em 10% 5.5em 10%;
    width: 11.875em;

    span {
      position: relative;
      display: block;

      &:nth-child(1) {
        font-size: .75em;
        font-weight: 700;
        text-transform: uppercase;
        color: $alt-text-color;
        line-height: 1.8;

        &:before {
          content: '';
          position: absolute;
          top: -1.85em;
          width: 4.167em;
          height: .3333em;
          background: $primary-color;
          transition: ease all .2s;
        }
      }

      &:nth-child(2) {
        color: $default-background-color;
        font-family: $alt-font-stack;
        font-size: 1em;
        line-height: 1.25;
      }
    }
  }

  &__update-block {
    margin: 7em 0 7em;
    padding: .5em 2em .5em 3.5%;
    border-left: 4px solid $alt-border-color;

    .col {      
      &:nth-child(1) {  
        margin: 0 0 1.25em;      
      }

      &:nth-child(2) {
      }     

      .date {
        font-size: .75em;
        text-transform: uppercase;
        font-weight: 700;
        color: $alt-text-color;
        padding-bottom: .5em;
      }

      .title {
        max-width: 10em;
        color: white;
        font-size: .875em;
        font-family: $alt-font-stack;

        a {
          color: white;
          text-decoration: none;
        }
      }

      .category {
        padding-bottom: .45em;
      }

      .excerpt {
        color: white;
        font-size: 1.125em;
        line-height: 1.25;
        max-width: 15.5em;

        a {
          color: white;
          text-decoration: none;

          &:after {
            content: url(../img/icon-arrow-red.svg);
            margin-left: .5em;
          }
        }
      }
    }
  }

  @include mq(desktop-old-school, 'max-width') {
    &__clock {
      right: 5em;
    }
  }

  @include mq(desktop, 'max-width') {
    &__menu {
      display: none;
    }

    &__clock {
      right: 4em;
    }
  }

  @include mq(ipad, 'max-width') {
    .container--max {
      display: block;
    }

    .feat-post {
      display: none;
    }

    &__title-block {
      width: 100%;
      padding: 2em 15% 2em;
      margin: 0;
      border-bottom: 1px solid $alt-border-color;   

      span {
        &:nth-child(1) {
        font-size: .75em;
        font-weight: 700;
        text-transform: uppercase;
        color: $alt-text-color;
        line-height: 1.8;

          &:before {
            content: '';
            position: absolute;
            top: .35em;
            left: -2em;
            height: 4.5em;
            width: .3333em;
            background: $primary-color;
            transition: ease all .2s;
          }
        }   
      }
    }

    &__update-block {
      margin: 0;
      padding: 2em 15% 4em;
      border-left: none;
      width: 100%;
    }

    &__clock {
      display: none;
    }

    &__copyright {
      position: relative;
      width: 100%;
      text-align: center;
      bottom: auto;
      right: auto;
      padding-bottom: 2em;
    }
  }
}
