.hero {
  padding: 16em 0;
  margin-top: -5em; // Height of header
}

.hero-base {
  position: relative;
  background: $default-text-color;
  height: 15.625em;

  .container--max {
    height: 100%;
    position: relative;
    display: flex;
    justify-content: flex-start;

    &:after {
      content: '';
      position: absolute;
      top: 0;
      right: -985em;
      width: 1000em;
      background: $primary-alt-color;
      height: 100%;
    }
  }

  &__clock {
    position: absolute;
    top: -1.25em;
    left: 3.125em;
    background: $primary-color;
    border-radius: 50%;
    width: 2.5em;
    height: 2.5em;
    text-align: center;

    img {
      position: relative;
      top: .625em;
      display: inline-block;
    }
  }

  &__title-block {
    align-self: stretch;
    position: relative;
    padding: 6.25em 3.125em 0;
    border-right: 1px solid $alt-border-color;
    width: 11.875em;

    span {
      position: relative;
      display: block;

      &:nth-child(1) {
        font-size: .75em;
        font-weight: 700;
        text-transform: uppercase;
        color: $alt-text-color;
        line-height: 1.8;

        &:before {
          content: '';
          position: absolute;
          top: -1.85em;
          width: 4.167em;
          height: .3333em;
          background: $primary-color;
          transition: ease all .2s;
        }
      }

      &:nth-child(2) {
        color: $default-background-color;
        font-family: $alt-font-stack;
        font-size: 1em;
        line-height: 1.25;
      }
    }
  }

  &__update-block {
    display: flex;
    justify-content: space-around;

    .col {
      border-right: 4px solid $alt-border-color;
      
      &:nth-child(1) {
        margin: 4.5em 0 4.5em 0;
        padding: 1em 2em 1.5em 20%;
      }

      &:nth-child(2) {
        margin: 4.5em 0 5em 1.75em;
        padding: 1em 2em 1em 0;
        border-right: none;
      }     

      .date {
        font-size: .75em;
        text-transform: uppercase;
        font-weight: 700;
        color: $alt-text-color;
        padding-bottom: .5em;
      }

      .title {
        max-width: 10em;
        color: white;
        font-family: $alt-font-stack;

        a {
          color: white;
          text-decoration: none;
        }
      }

      .category {
        padding-bottom: .4em;
      }

      .excerpt {
        color: white;
        font-size: 1.125em;
        line-height: 1.25;
        max-width: 14.5em;

        a {
          color: white;
          text-decoration: none;

          &:after {
            content: url(../img/icon-arrow-red.svg);
            margin-left: .5em;
          }
        }
      }
    }
  }
}