.mega-menu {
  display: none;
  position: relative;
  z-index: 9999;
  top: 0;
  width: 100%;
  height: auto;
  padding-bottom: 9em;
  background: white;

  &.is-visible-mega-menu {
    display: block;
  }

  &__highlight-box {
    padding-top: 1.875em;
    padding-left: 4.625em;
    width: 15.625em;
    height: 6.25em;
    background: $default-text-color;

    span {
      display: block;
      position: relative;

      &:nth-child(1) {
        font-size: .75em;
        line-height: 1;
        color: $alt-text-color;
        text-transform: uppercase;
        font-weight: 700;
        padding-bottom: .35em;

        &:before {
          content: '';
          position: absolute;
          background: $primary-color;
          left: -1em;
          top: -.25em;
          height: 3.25em;
          width: .25em;
        }
      }

      &:nth-child(2) {
        line-height: 1.25;
        font-size: 1em;
        color: $default-background-color;
        font-family: $alt-font-stack;
      }
    } 
  }

  &__close {
    cursor: pointer;
    text-transform: uppercase;
    color: $alt-text-color;
    position: absolute;
    top: 3.125em;
    right: 3.125em;
    font-size: .75em;
    line-height: 1;
    transition: opacity .2s ease;

    svg {
      margin-right: .5em;
      position: relative;
      top: .0825em;
    }

    &:hover {
      opacity: .6;
    }
  }

  &__container {
    max-width: 79em;
    width: 92%;
    margin: 0 auto;
    padding-top: 3em;
    display: flex;
    justify-content: space-between;
  }

  &__col {
    width: 25%;

    &:nth-child(1) {
      width: 22%;
      padding-right: 3%;
    }

    ul {
      margin: 0;
      padding: 0;
    }

    li {
      list-style-type: none;
      margin-bottom: .4em;

      a {
        font-size: 1.1em;
        color: $default-text-color;
        transition: all .25s ease;
        text-decoration: none;

        &:hover {
          padding-left: .5em;
          border-left: solid $secondary-color .2em;
          color: $alt-text-color;
        }
      }
    }

    .view-all-link {
      display: inline-block;
      padding-top: 1.5em;
      font-size: 1.125em;
      font-family: $alt-font-stack;
    }
  }

  &__desc {
    padding: .75em 0 1.5em;
    font-size: 1.35em;
    font-family: $alt-font-stack;
    line-height: 1.33;
    position: relative;

    &:after {
      content: '';
      position: absolute;
      background: $primary-color;
      width: 2.083em;
      height: .167em;
      left: 0;
      bottom: 0;
    }
  }
}