// Featured Posts
.feat-post {
  width: 20em;
  max-width: 100%;

  &__content {
    padding: 2.813em 3.125em;
    background: $primary-color;

    @include mq(desktop, 'max-width') {
      padding: 2.5em 2em;
    }
  }

  &__date {
    font-size: .75em;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1;
    color: $default-background-color;

    &--secondary {
      margin-top: 3.25em;
      padding-top: 2em;
      border-top: 1px solid $divider-color;
    }
  }

  &__excerpt {
    color: white;
    font-size: 1.125em;
    line-height: 1.22;
    padding-top: 1.25em;

    &--secondary {
      &:after {
        content: url(../img/icon-arrow-yellow.svg);
        margin-left: .25em;
      }

      a {
        color: white;
        text-decoration: none;
      }
    }
  }

  &__cta {
    padding-top: 2.5em;

    a {
      color: $secondary-color;
      font-size: 1.125em;
      font-family: $alt-font-stack;
      position: relative;

      &:before {
        content: '';
        width: 3.125rem;
        height: .25rem;
        background: $alt-text-color;
        position: absolute;
        top: -1.15em;
      }
    }
  }

  .hero-base & {
    position: absolute;
    z-index: 200;
    right: 9em;
    margin-top: -13.75em;

    img {
      height: 13.75em;
      object-fit: cover;
    }
  }
}

.feat-news-block {
  margin-top: -13.75em; // height of &__img
  margin-bottom: $section-padding;
  position: relative;

  @include mq(ipad, 'max-width') {
    margin-top: -9em;
    margin-bottom: -2em;
  }

  .context-heading {
    position: absolute;
    top: -2.5em;
  }

  &__img {
    object-fit: cover;
    height: 13.75em;
    width: 21.875em;

    @include mq(ipad, 'max-width') {
      width: 100%;
      height: 9em;

      img {
        max-height: 100%;
      }
    }
  }

  &__row {
    display: flex;
    justify-content: flex-start;
  }

  &__post {
    background: $primary-color;
    width: 21.875em;
    padding: 3.125em;

    @include mq(ipad, 'max-width') {
      width: 100%;
    }
  }

  &__date {
    font-size: .75em;
    text-transform: uppercase;
    font-weight: 700;
    color: $default-background-color;
  }

  &__title {
    color: white;
    font-size: 1.5em;
    line-height: 1.33;
    padding-top: 1.25rem;
    font-family: $alt-font-stack;

    a {
      text-decoration: none;
      color: white;
    }
  }

  &__content {
    width: 21.875em;
    padding: 5.25em 3.125em 3.125em;
    background: $primary-alt-color;

    @include mq(desktop-old-school, 'max-width') {
      display: none;
    }
  }

  &__excerpt {
    color: white;
    font-weight: 400;
    font-size: 1.125em;
    line-height: 1.22;
  }

  &__link {
    padding-top: 2.5em;

    a {
      color: $secondary-color;
      font-size: 1.125em;
      font-family: $alt-font-stack;
      position: relative;

      &:before {
        content: '';
        width: 3.125rem;
        height: .25rem;
        background: $alt-text-color;
        position: absolute;
        top: -1.15em;
      }
    }
  }

  &__event {
    width: 18.75em;

    @include mq(ipad, 'max-width') {
      display: none;
    }
  }

  &__event-heading {
    position: relative;
    background: $default-text-color;
    padding: 1.5em .5em 1.875em 4em;
    width: 14.375em;
    margin-right: 1.5em;
    height: 4.375em;

    span {
      &:nth-child(1) {
        font-size: .75rem;
        text-transform: uppercase;
        font-weight: 700;
        color: $alt-text-color;
      }

      &:nth-child(2) {
        font-size: 1em;
        font-family: $alt-font-stack;
        font-weight: 700;
        color: $default-background-color;
      }
    }

    &:before {
      content: '';
      position: absolute;
      left: 3em;
      top: 1.75em;
      background: $primary-color;
      height: 1.125em;
      width: .25em;
    }
  }

  &__event-content {
    padding: 1.25em;
  }

  &__event-info {
    font-weight: 700;
    text-transform: uppercase;
    font-size: .75rem;
    color: $alt-text-color;

    div {
      margin-bottom: .25em;
    }
  }

  &__event-title {
    padding-top: 1em;

    a {
      color: $default-text-color;
      text-decoration: none;
      line-height: 1.15;
    }

    &:after {
      content: url(../img/icon-arrow-red.svg);
      margin-left: .125em;
    }
  }
}

// Featured Headings
.feat-heading {
  background: $default-text-color;
  padding: 1.5em .5em 1.875em 4em;
  width: 14.375em;
  margin-right: 1.5em;
  height: 4.375em;

  @include mq(ipad, 'max-width') {
    position: relative;
    margin-left: -4px;
    left: -5%;
  }

  &--alt {
    height: 6.25em;
    padding: 1.875em .5em 1.875em 4em;
  }

  .aside & {
    margin-top: 2.5em;
  }

  &__wrap {
    max-height: 6.25em;
    overflow: hidden;
    display: flex;
    justify-content: flex-start;

    @include mq(ipad, 'max-width') { 
      display: block;
      margin-bottom: 0;
      max-height: none;
    }
  }

  &__img {
    display: inline-block;
    width: 9.375em;

    @include mq(desktop, 'max-width') {
      display: none;
    }

    img {
      object-fit: cover;
      height: 100%;
    }
  }

  &__caption {
    font-size: 1.35em;
    font-family: $alt-font-stack;
    padding-left: 1em;
    padding-right: 5%;
    line-height: 1.33;
    max-width: 23em;

    @include mq(ipad, 'max-width') {
      margin-top: 1em;
      padding-left: 5%;
      margin-bottom: 0;
    }

    a {
      padding-top: 1em;
      display: block;
      font-size: 1.1rem;
    }
  }

  &__content {
    position: relative;

    &:before {
      content: '';
      position: absolute;
      left: -1em;
      top: .125em;
      background: $primary-color;
      height: 1.125em;
      width: .25em;
    }
  }

  span {
    &:nth-child(1) {
      font-size: .75em;
      font-weight: 700;
      line-height: 1;
      padding-right: .25em;
      color: $alt-text-color;
      text-transform: uppercase;
    }

    &:nth-child(2) {
      font-size: 1em;
      font-family: $alt-font-stack;
      font-weight: 700;
      color: $default-background-color;
    }
  }

  &--alt {
    width: 15.625em;
    display: inline-block;

    .feat-heading__content {
      position: relative;

      &:before {
        content: '';
        position: absolute;
        left: -1em;
        top: -.125em;
        background: $primary-color;
        height: 2.5em;
        width: .25em;
      }
    }

    span {
      display: block;

      &:nth-child(1) {
        padding-bottom: .25em;
      }
    }
  }
}

// Event Listing
.event-listing {

  &__event {
    padding: 1.75em;
    border-bottom: 1px solid $default-background-color;
  }

  &__date {
    text-transform: uppercase;
    font-weight: 700;
    color: $alt-text-color;
    padding: 0 0 1.25em;
    line-height: 1;
    font-size: .75em;
  } 

  &__title {

    a {
      color: $default-text-color;
      text-decoration: none;
    }

    &:after {
      content: url(../img/icon-arrow-red.svg);
      margin-left: .125em;
    }
  }

  &__more-link {
    padding: 1.5em 1.75em;
    font-size: 1.125em;
    font-family: $alt-font-stack;
  }
}

// Funding Block 
.funding-block {
  border-top: 1px solid $default-background-color;
  display: flex;
  justify-content: space-between;
  padding: 3rem 10%;
  font-size: .9rem;

  @include mq(ipad, 'max-width') {
    padding: 3rem 0 1.5rem;
  }

  @include mq(tablet, 'max-width') {
    display: block;
  }

  &__image {
    flex: 0 0 11%;
    width: 6.25rem;
    height: 6.125rem;

    @include mq(tablet, 'max-width') {
      float: left;
      margin-right: 1.75rem;
    }

    @include mq(mobile-landscape, 'max-width') {
      width: 4.25rem;
      margin-right: 1.25rem;
    }
  }

  &__col-1,
  &__col-2 {
    flex: 0 0 40%;

    @include mq(tablet, 'max-width') {
      margin-left: 8rem; /* width + margin-right of &__image */
    }

    @include mq(mobile-landscape, 'max-width') {
      margin-left: 5.5rem;
    }
  }
}

// Miscellaneous
#backToTop {
  text-decoration: none;
  display: none;
  cursor: pointer;
  position: fixed;
  z-index: 9999;
  right: 2em;
  bottom: 10vh;
  background-color: rgba(255, 255, 255, 0.9);
  border: solid 1px #efefef;
  padding: 1.5em 2em;
  color: $default-text-color;
  font-size: .75em;
  text-transform: uppercase;
  font-weight: 700;

  @include mq(ipad, 'max-width') {
    width: 150px;
    text-align: center;
    bottom: 1.5em;
    right: calc(50% - 75px);
  }

  img {
    display: inline-block;
    margin-left: .5em;
  }
}

.view-all-block {
  padding: .5em 0 3em;
  text-align: center;
  font-family: $alt-font-stack;
}

.floating-branding {
  position: absolute;
  top: -9.5em;
  left: 0;
  background: white;
  width: 6.5em;
  height: 6.5em;
  padding: .9em;
  text-align: center;

  img {
    display: inline-block;
  }
}

.link-styled {
  position: relative;
  margin-top: 2.75em;
  margin-bottom: 2.5em;

  a {
    font-size: 1.125em;
    font-family: $alt-font-stack;
    color: $alt-text-color;
  }

  &:before {
    content: '';
    width: 3.125em;
    height: .25em;
    background: $alt-text-color;
    position: absolute;
    top: -1.1em;
  }
}

.resource-group {
  margin-bottom: 6.25em;
}

.post-info {
  margin-top: -12.5em; // height of '&__img'
  width: 18.75em;
  max-width: 100%;

  &--mobile {
    margin-bottom: 2em;
    width: auto;

    .post-info__img {
      img {
        margin-top: 1em;
        width: 42%;
        height: 8.5em;
        max-width: 100%;
        object-fit: cover;
      }
    }

    .post-info__meta {
      width: 100%;
    }
  }

  &--no-image {
    margin-top: -6.25em; // height of '&__img--no-image'

    @include mq(ipad, 'max-width') {
      width: auto;

      .post-info__meta {
        width: 100%;
        margin-bottom: 2em;
        margin-top: -3em;
      }
    }
  }

  &__img {
    img {
      width: 18.75em;
      height: 12.5em;
      max-width: 100%;
      object-fit: cover;
    }

    &--no-image {
      width: 6.25em;
      height: 6.25em;
      background: $primary-color;
      color: white;
      text-align: center;
      padding-top: 1.75em;
      font-family: $alt-font-stack;

      @include mq(ipad, 'max-width') {
        position: relative;
        top: -3em;
      } 

      img {
        padding-top: .5em;
        width: auto;
        height: auto;
        display: inline-block;       
      }

      span {
        display: block;

        &:nth-child(1) {
          text-transform: uppercase;
          font-size: 1em;
          line-height: 1;
        }

        &:nth-child(2) {
          font-size: 1.875em;
          line-height: 1.15;
        }
      }
    }
  }

  &__meta {
    background: $default-background-color;
    padding: 1.25em;

    table {
      tr td {
        padding: .25em 0;
        vertical-align: top;

        &:nth-child(1) {
          text-transform: uppercase;
          font-size: .75em;
          font-weight: 700;
          padding-top: .5em;
        }

        &:nth-child(2) {
          padding-left: 1em;
          font-family: $alt-font-stack;
          font-weight: 700;
          font-size: .9em;
        }
      }

      a {
        color: $default-text-color;
      }
    }

    img.has-link-image {
      display: inline-block;
      margin-left: .25em;
      position: relative;
      top: 1px;
    }

    span {
      &:nth-child(1) {
        text-transform: uppercase;
        font-weight: 700;
        font-size: .75em;
        line-height: 1;
        padding-right: .5em;
      }

      &:nth-child(2) {
        line-height: 1.29;
        font-size: .95em;
        font-weight: 700;
        font-family: $alt-font-stack;
      }
    }
  }
}