// Featured Posts
.feat-post {
  width: 20em;

  &__content {
    padding: 2.813em 3.125em;
    background: $primary-color;
  }

  &__date {
    font-size: .75em;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1;
    color: $default-background-color;
  }

  &__excerpt {
    color: white;
    font-size: 1.125em;
    line-height: 1.22;
    padding-top: 1.25em;
  }

  &__cta {
    padding-top: 2.5em;

    a {
      color: $secondary-color;
      font-size: 1.125em;
      font-family: $alt-font-stack;
      position: relative;

      &:before {
        content: '';
        width: 3.125rem;
        height: .25rem;
        background: $alt-text-color;
        position: absolute;
        top: -1.15em;
      }
    }
  }

  .hero-base & {
    position: absolute;
    z-index: 200;
    right: 9em;
    margin-top: -13.75em;

    img {
      height: 13.75em;
    }

    &__date {
      &--secondary {
        margin-top: 3.25em;
        padding-top: 2em;
        border-top: 1px solid $divider-color;
      }
    }

    &__excerpt {
      &--secondary {
        &:after {
          content: url(../img/icon-arrow-yellow.svg);
          margin-left: .25em;
        }
      }
    }
  }
}

// Featured Headings
.feat-heading {
  background: $default-text-color;
  padding: 1.875em .5em 1.875em 4em;
  width: 14.375em;

  &__wrap {
    max-height: 6.25em;
    overflow: hidden;
    display: flex;
    justify-content: flex-start;
  }

  &__img {
    display: inline-block;
    width: 9.375em;

    img {
      object-fit: cover;
      height: 100%;
    }
  }

  &__caption {
    font-size: 1.35em;
    font-family: $alt-font-stack;
    padding-left: 1em;
    line-height: 1.33;
    max-width: 23em;

    a {
      padding-top: 1em;
      display: block;
      font-size: 1.1rem;
    }
  }

  &__content {
    position: relative;

    &:before {
      content: '';
      position: absolute;
      left: -1em;
      top: .125em;
      background: $primary-color;
      height: 1.125em;
      width: .25em;
    }
  }

  span {
    &:nth-child(1) {
      font-size: .75em;
      font-weight: 700;
      line-height: 1;
      padding-right: .25em;
      color: $alt-text-color;
      text-transform: uppercase;
    }

    &:nth-child(2) {
      font-size: 1em;
      font-family: $alt-font-stack;
      font-weight: 700;
      color: $default-background-color;
    }
  }

  &--alt {
    width: 15.625em;
    display: inline-block;

    .feat-heading__content {
      position: relative;

      &:before {
        content: '';
        position: absolute;
        left: -1em;
        top: -.125em;
        background: $primary-color;
        height: 2.5em;
        width: .25em;
      }
    }

    span {
      display: block;

      &:nth-child(1) {
        padding-bottom: .25em;
      }
    }
  }
}

// Event Listing
.event-listing {
  &__event {
    padding: 1.75em;
    border-bottom: 1px solid $default-background-color;
  }

  &__date {
    text-transform: uppercase;
    font-weight: 700;
    color: $alt-text-color;
    padding: 0 0 1.25em;
    line-height: 1;
    font-size: .75em;
  } 

  &__title {

    a {
      color: $default-text-color;
      text-decoration: none;
    }

    &:after {
      content: url(../img/icon-arrow-red.svg);
      margin-left: .125em;
    }
  }

  &__more-link {
    padding: 1.5em 1.75em;
    font-size: 1.125em;
    font-family: $alt-font-stack;
  }
}