h1,
h2,
h3,
h4 {
  margin-top: 0;
  font-weight: 700;
}

h1 {
  font-size: 3.125em;
  line-height: 1.08;
  font-family: $alt-font-stack;
  font-weight: 400;
}

h2 {
  position: relative;
  font-family: $default-font-stack;
  text-transform: uppercase;
  font-size: .75em;
  line-height: 1;
  padding-bottom: 2em;

  &:after {
    content: '';
    position: absolute;
    top: 4px;
    margin-left: 10px;
    height: 4px;
    background: $primary-color;
    width: 100%;
  }
}

h3 {
  font-size: 1.125em;
  line-height: 1.22;
  font-family: $alt-font-stack;
}

h4 {
  font-family: $alt-font-stack;
  text-transform: uppercase;
  line-height: 1.29;
  font-size: .875em;
}

p {
  font-size: 1.125em;
  font-family: $default-font-stack;
  line-height: 1.5;
  font-weight: 400;
  padding: 0 0 1.25em;
  margin: 0;

  + h2 {
    margin-top: 1.125em;
  }

  .content & {
    padding-left: 3.125em;
  }
}

ul {
  font-size: 1.125rem;
  font-family: $default-font-stack;
  line-height: 1.5;
  font-weight: 400;
  padding: 0 0 1.25em;
  margin: 0;

  + h2 {
    margin-top: 1.125em;
  }

  .content & {
    padding-left: 4em;

    ul {
      padding-left: 3em;
    }
  }
}

.intro {
  font-size: 1.5em;
  line-height: 1.4;
  font-family: $alt-font-stack;
  padding-bottom: 1.25em;

  .content & {
    padding-left: 0;
  }
}

blockquote {
  padding: 0 0 1.25em;
  position: relative;
  padding-left: 1.25em;
  font-size: 1.25em;
  font-family: $alt-font-stack;
  color: $quote-text-color;
  line-height: 1.4;
  
  &:before {
    content: '';
    position: absolute;
    top: .125em;
    left: 0;
    background: $primary-color;
    height: 2.125em;
    width: .125em;
  }
}

.context-heading {
  font-weight: 700;
  font-size: .75em;
  text-transform: uppercase;

  &--a {
    color: $default-background-color;
  }

  &--b {
    color: $alt-text-color;
  }

  &--c {
    color: $secondary-color;
  }
}