// Colors
$primary-color:               #fd3d3d;
$secondary-color:             #f7ce40;
$tertiary-color:              #cceaf4;

$alt-link-color:              #f9f9f2;

$default-text-color:          #3b3b3b;
$alt-text-color:              #a9a9a9;
$quote-text-color: 			  #556367;

$default-background-color:    #efefef;
$alt-background-color:        #e0dfdf;

$alt-border-color:            #343434;

// Fonts
$default-font-stack:          'Roboto Condensed', Helvetica, Arial, sans-serif;
$alt-font-stack:              'Miriam Libre', Georgia, sans-serif;