.container {
  width: $container-width;
  max-width: 69.5em;
  margin: 0 auto;
  position: relative;

  @include mq(desktop, 'max-width') {
    width: 94%;
  }

  @include mq(ipad, 'max-width') {
    width: $container-width;
  }

  &--max {
    width: 100%;
    max-width: 87.5em;
    margin: 0 auto;
  }

  &--flex {
    display: flex;
    justify-content: space-between;

    @include mq(ipad, 'max-width') {
      display: block;
    }
  }

  &--flex-start {
    display: flex;
    justify-content: flex-start;

    @include mq(ipad, 'max-width') {
      display: block;
    }
  }
}

section {
  padding: $section-padding 0;

  &.no-padding {
    padding: 0;
  }

  &.no-padding-top {
    padding: 0 0 $section-padding;
  }

  &.no-padding-bottom {
    padding: $section-padding 0 0;
  }

  &.extra-padding {
    padding: ($section-padding * 1.5) 0;
  }

  &.extra-padding-top {
    padding: ($section-padding * 1.5) 0 $section-padding;
  }

  &.extra-padding-bottom {
    padding: $section-padding 0 ($section-padding * 1.5);
  }

  &.huge-padding-top {
    padding: ($section-padding * 2) 0 $section-padding;
  }
}

.grid {
  display: flex;
  margin: 0 -1.25em;
  flex-wrap: wrap;

  &--flex-end {
    justify-content: flex-end;
  }

  &--padding-left {
    padding-left: 3.75em;

    @include mq(ipad, 'max-width') {
      padding-left: 0;
    }
  }

  &__col {
    padding: 0 1.25em 2.5em;
    flex: 1;

    .quarter-col-block & {
      flex: 0 0 25%;

      @include mq(desktop, 'max-width') {
        flex: 0 0 33.333333333%;
      }

      @include mq(ipad, 'max-width') {
        flex: 0 0 50%;
      }

      @include mq(mobile-landscape, 'max-width') {
        flex: 0 0 100%;
      }
    }


    .third-col-block & {
      flex: 0 0 33.3333333%;
      max-width: 33.3333333%;

      @include mq(desktop, 'max-width') {
        flex: 0 0 33.333333333%;
      }

      @include mq(ipad, 'max-width') {
        flex: 0 0 50%;
        max-width: 50%;
      }

      @include mq(mobile-landscape, 'max-width') {
        flex: 0 0 100%;
        max-width: 100%;
      }

      .resource-grid & {
        @include mq(ipad, 'max-width') {
          flex: 0 0 33.3333333% !important;
          padding: 0 .625em 2.5em !important;
        }

        @include mq(tablet, 'max-width') {
          flex: 0 0 50% !important;
          padding: 0 1.25em 2.5em !important;
        }

        @include mq(mobile-landscape, 'max-width') {
        flex: 0 0 100% !important;
      }
      }
    }

    .half-col-block & {
      flex: 1 1 50%;

      @include mq(desktop, 'max-width') {
        flex: 1 1 50%;
      }

      @include mq(ipad, 'max-width') {
        flex: 1 1 50%;
      }

      @include mq(mobile-landscape, 'max-width') {
        flex: 1 1 100%;
      }
    } 

    .col-desktop-switch & {
      @include mq(desktop, 'max-width') {
        flex: 0 0 100%;
      }
    }

    p {
      .content & {
        padding-left: 0;
      }

      &:last-of-type {
        padding-bottom: 0;
      }
    }

    @include mq(desktop, 'max-width') {
      flex: 1 1 33.333333333%;
    }

    @include mq(ipad, 'max-width') {
      flex: 1 1 50%;
    }

    @include mq(mobile-landscape, 'max-width') {
      flex: 1 1 100%;
    }
  }
}

.resource-grid {
  display: flex;
  margin: 0 -1.25em;
  flex-wrap: wrap;
  justify-conent: flex-start;

  &__col-one-quarter {
    width: 25%;
    padding: 0 1.25em;
  }

  &__col-three-quarters {
    width: 75%;
    padding: 0 1.25em;
  }

  @include mq(ipad, 'max-width') {
    &__col-one-quarter,
    &__col-three-quarters {
      width: 100%;
    }
  }
}

.content {
  width: 54.5%;
  max-width: 37.5em;

  @include mq(desktop, 'max-width') {
    width: 60%;
  }

  @include mq(ipad, 'max-width') {
    width: 100%;
  }

  &--wide {
    width: 68.5%;
    max-width: 46.875em;
  }

  .container--flex-start & {
    padding-left: 5%;

    @include mq(ipad, 'max-width') {
      padding-left: 0;
    }
  }
}

.aside {
  width: 31.5%;
  max-width: 20em;
  position: relative;
  z-index: 100;

  @include mq(ipad, 'max-width') {
    display: none;
  }

  &--pulled-up {
    margin-top: -16.375em;
  }

  &--pulled-up-default {
    margin-top: -($section-padding);
  }

  &--padding-top {
    padding-top: 8em;
  }
}