$ib-self: ".info-block";

.info-block {
	position: relative;
	background: $default-background-color;
	font-family: $alt-font-stack;
	margin-bottom: 2.5em;

	&--tablet {
		position: absolute;
		display: none;
		bottom: 0;
		left: 5%;
		margin-bottom: 0;

		@include mq(ipad, 'max-width') {
			display: block;

			.info-block__title {				
				width: 5em;
			  height: 5em;
			  line-height: 5em;
			  top: -5em;
			}
		}
	}

  &--mobile {
  	#{$ib-self}__content {
  		padding: 3em 0;
  		display: none;
  	}

  	&.has-visible-contact-info {
			#{$ib-self}__content {
				display: block;
			}
		}
  }

  &__open,
  &__close {
  	display: none;
  }  

	&--mobile & {
		background: white;

		#{$ib-self}__title {
			display: none;
		}

		&__toggle {
			padding: 1em;
			cursor: pointer;
			border-top: 1px solid $default-background-color;
			border-bottom: 1px solid $default-background-color;
			text-align: center;

			div:nth-child(2) {
				display: none;
			}

			&:hover {
				opacity: .8;
			}

			img {
				display: inline-block;
				margin-left: .25em;
			}
		}
	}

	&__title {
		background: $primary-color;
		color: white;
		width: 7.5em;
		height: 7.5em;
		line-height: 7.5em;
		text-align: center;
		position: absolute;
		left: 0;
		top: -7.5em;
	}

	&__content {
		font-size: .875em;
		font-weight: 700;
		width: 70%;
		padding: 15% 0;
		margin: 0 auto;
		overflow: hidden;

		img.has-link-image {
			display: inline-block;
			margin-left: .25em;
			position: relative;
			top: 1px;
		}

		p {
		  font-weight: 700;
		  font-size: 1em;
		  font-family: $alt-font-stack;
		  margin: 0;
		  padding: 0;
		}

		h2 {
			margin-top: 2em;
			padding-bottom: 1.25em;

			&:after {
				top: 2px;
			}
		}

		div {
			padding-bottom: .75em;

			&:last-child {
				padding-bottom: 0;
			}
		}

		a {
			color: $default-text-color;
			text-decoration: underline;
		}

		.name {
			padding-left: 1em;
		}
	}
}