.padded-left {
  padding-left: 3.125em;

  @include mq(ipad, 'max-width') {
  	padding-left: 0;
  }
}

.no-padding {
  padding: 0;
}

.text-center {
	text-align: center;
}

.is-hidden-desktop-old-school {
	display: none;

	@include mq(desktop-old-school, 'max-width') {
    display: block;
	}
}